[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoydotme/hugo-goa
[submodule "themes/hugo-goa-pm"]
	path = themes/hugo-goa-pm
	url = https://github.com/phillipmmarlowe/hugo-goa-pm
