/* Add custom CSS here. */
/* Custom overrides */

figure.about-figure {
  margin: 1.5rem auto;
  text-align: center;
}

figure.about-figure img {
  display: block;
  margin: 0 auto;
}
html, body {
  height: 100%;
}

/* main background + overlay + text color */
body {
  font-family: "Roboto Slab", "Roboto", "Lato", sans-serif;
  color: #d29965;  /* light text */

  /* First layer: dark overlay
     Second layer: your image */
  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/imgs/pcb_img.jpeg") center center / cover no-repeat fixed;
}


a,
a:hover,
a:visited,
a:link,
.meta,
a.meta,
h6.meta,
.list-entry-link,
.list li,
.category,
div.content,
.content a,
.footer,
.excerpt,
.description,
.error,
.error a,
.error h1,
.error p {
  color: #e3c0a0;
}

.category {
  color: #e3c0a0 !important;
}

.menu-item,
.author,
.intro,
.social a {
  color: #d29965 !important;
}

